/******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/

.hero .hero-textbox h1 {
  font-size: 6rem;
}
.hero .hero-textbox h2 {
  font-size: 1.6rem;
}
.hero .hero-textbox .cta-btn {
  padding: 1rem 4rem;
  margin-top: 5rem;
}